<nav class="menu">
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/signup']">Signup</a></li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <!-- <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a [routerLink]="['/configure']">Configure</a></li>
    <li><a [routerLink]="['/expense']">Expense</a></li> -->
  </ul>
</nav>
<pb-header></pb-header>
<h1> Sign up form </h1>

<form [formGroup]="signupForm" (ngsubmit)="saveUser()">
    <input type="text" name="_id" placeholder="userId" formControlName="_id">
    <input type="text" name="username" placeholder="username" formControlName="username">
    <input type="password" name="password" placeholder="password" formControlName="password">
    <button (click)="saveUser()" type="submit">Submit</button>
</form>
<br>
<br>

