<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- This is an SEO Change -->
  <meta
    name="description"
    content="Author: Sathwika Joginipalli,
  Illustrator: Personal Budget, Category: Website, Price: $4.99,
  Length: 1 page"
  />
  <!-- This is an SEO Change -->
  <meta name="theme-color" content="#317EFB" />
  <title>Personal Budget</title>
  <!-- This is an SEO Change -->

  <!-- This is an A11y Change -The alternative text-->
  <link rel="apple-touch-icon" href="/assets/bg.png" alt="Laptop and Mobile" />
</head>
<header class="hero">
  <h1>Personal Budget</h1>
  <h2>A personal-budget management app</h2>
</header>
