<nav class="menu">
  <ul>
    <!-- <li><a [routerLink]="['/']">Home</a></li> -->
    <!-- <li><a [routerLink]="['/signup']">Signup</a></li>
    <li><a [routerLink]="['/login']">Login</a></li> -->
    <li><a [routerLink]="['/dashhome']">Home</a></li>
    <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a [routerLink]="['/configure']">Configure</a></li>
    <li><a [routerLink]="['/expense']">Expense</a></li>
    <li><a [routerLink]="['/login']">Logout</a></li>

  </ul>
</nav>
<pb-header></pb-header>
<h1>Configure Expense</h1>
<button (click)="getbudget()" type="submit">Get your budgets</button>
<div *ngIf="userBudget">
  <div *ngFor="let item of userBudget">{{item.title}}---->{{item.budget}}<br></div>
</div>
<button (click)="getexpense()" type="submit">Get your expenses</button>
<div *ngIf="userExpense">
  <div *ngFor="let item of userExpense">{{item.title}}---->{{item.expense}}<br></div>
</div>
<form [formGroup]="providerDetailsForm" (ngsubmit)="saveexpense()">
  <!-- <input type="text" name="_id" placeholder="ID" formControlName="_id">
  <input type="text" name="userId" placeholder="UserID" formControlName="userId"> -->
  <input type="text" name="title" placeholder="Title" formControlName="title">
  <input type="number" name="expense" placeholder="Expense" formControlName="expense">
  <button (click)="saveexpense()" type="submit">Submit</button><br><br>
<br>
<br>
