<!DOCTYPE html>
<html lang="en">
  <nav class="menu">
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/signup']">Signup</a></li>
    <li><a (click)="navigateLogin()">Login</a></li>
    <!-- <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a [routerLink]="['/configure']">Configure</a></li>
    <li><a [routerLink]="['/expense']">Expense</a></li> -->
    <!-- <li><a [routerLink]="['/login']">Logout</a></li> -->
  </ul>
</nav>
<pb-header></pb-header>
  <body>
    <!-- This is an A11y Change- the id attribute-->
    <main class="container center" id="main">
      <div class="page-area">
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Stay on track</h1>
          <p>
            Do you know where you are spending your money? If you really stop to
            track it down, you would get surprised! Proper budget management
            depends on real data... and this app will help you with that!
          </p>
        </article>
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Alerts</h1>
          <p>
            What if your clothing budget ended? You will get an alert. The goal
            is to never go over the budget.So, try out new budget app which
            brings your budget plan. Getting everything done within a minute
            would be fun.
          </p>
        </article>
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Results</h1>
          <p>
            People who stick to a financial plan, budgeting every expense, get
            out of debt faster! Also, they to live happier lives... since they
            expend without guilt or fear... because they know it is all good and
            accounted for.
          </p>
        </article>
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Free</h1>
          <p>
            If you really stop to track it down, you would get surprised! Proper
            budget management depends on real data... and this app will help you
            with that! Get your most favorite food and cloths by adjusting your
            budget.
          </p>
        </article>
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Stay on track</h1>
          <p>
            Do you know where you are spending your money? If you really stop to
            track it down, you would get surprised! Proper budget management
            depends on real data... and this app will help you with that!
          </p>
        </article>
        <!-- This is a Semantic HTML Change -->
        <article class="text-box">
          <h1>Alerts</h1>
          <p>
            What if your clothing budget ended? You will get an alert. The goal
            is to never go over the budget.So, try out new budget app which
            brings your budget plan.Getting everything done within a minute
            would be fun.
          </p>
        </article>
      </div>
    </main>
  </body>
</html>
